.inner-page {
  font-family: "Roboto", sans-serif;
}

#mainsection{
  margin: 25px auto;
}

#textsection{
  margin: 0 auto;
  text-align: center;
}

#image{
  width: 100%;
  height: auto;
  float: right;
}

button{
  margin-bottom: 0.5em;
}





